{% extends 'layout.html' %}

{% block content   %}
<div class="row">
    <div class="col-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body ">
            <form action="/add" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="usuario" name="user" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="contraseña" name="pass" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" placeholder="correo@ejemplo.com" name="correo" class="form-control">
                </div>
                <div class="form-group">
                    <button type='submit' class="btn btn-success btn-block" name="Enviar" class="form-control">enviar</button>
                </div>

            </form>
        </div>

    </div>
    <div class="col-5">

        <table class="table table-striped table-bordered bg-white table-sm">
            <tr>
                <td>USUARIO</td>
                <td>CONTRASEÑA</td>
                <td>CORREO</td>
                <td>OPCIONES</td>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td> {{ usuario.1 }} </td>
                <td> {{ usuario.2 }} </td>
                <td> {{ usuario.3 }} </td>
                <td>
                    <a href="/edit/{{ usuario.0 }}" class="btn btn-secondary">editar</a>
                    <a href="/delete/{{ usuario.0 }}" class="btn btn-danger">eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>









{%  endblock %}